{#
/**
 * @file
 * Default theme implementation to display a custom block.
 */
#}
<div id="block-name-role">

    <div class="wrapper-name"><strong>{{ 'User name'|t }}:</strong> <span class="name">{{ name }}</span></div>

    <div class="wrapper-roles"><strong>{{ 'User roles'|t }}:</strong> <span class="roles">{{ roles }}</span></div>

</div>
